body {
  background-color: #F7F9FF;
}

.nav-bg {
  background-color: #19131A;
}

.nav-link, .navbar-brand {
  color: #F7F9FF!important;
}

.navbar-brand {
  font-weight: bold;
  font-size: 25px;
}


.welcome-section {
  margin-top: 120px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.page-header {
  font-size: 3.3rem;
  font-weight: bold;
}

.welcome-page-subtitle {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  margin: auto 10%;
}


.recent-posts {
  margin: 180px 0px 50px 0px;
}

.recent-posts-header {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
}

.post {
  margin: 0px 10%;
  display: flex;
  border-top: 1px black;
  border-top-style: solid;
  padding: 25px 0px;
}

.post-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
}

.post-name {
  font-size: 1.9rem;
}

.post-author {
  font-size: 1.2rem;
}

.post-link {
  color: #19131A;
}

.post-header-section {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.page-author {
    font-size: 1.5rem;
}

.blog-text {
  margin: 80px 10% 120px 10%;
  font-size: 1.5rem;
}

.about-header {
  text-align: center;
  margin-top: 120px;
}

.about-founder-section {
  display: flex;
  justify-content: space-around;
  margin: 80px 5%;
}

.founder-statement-section {
  width: 400px;
  font-size: 1.5rem;
}

.founder-name {
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
}

.about-text {
  margin: 0px 10% 80px 10%;
  font-size: 1.5rem;
}
